<html lang="en">
  <%- include('./boilerplate/header.ejs') %> 
<body class=" bg-gradient-to-l from-sky-400 to-purple-600 flex flex-col min-h-screen bg-blue-700">
  <%- include('./boilerplate/navbar.ejs') %> 

<br/>
<div class="py-9 m-9 ">
  <div class="container w-full h-fit md:max-w-3xl mx-auto pt-20  bg-white rounded-xl">

  <div class="px-7 py-2 ">
    <div class="flex items-center justify-between">
      <div class="flex items-center flex-1">
        <img
          class="object-cover h-10 rounded-full"
          src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg"
          alt="user_image"
        />
        <div class="flex flex-col mx-2">
          <a href="/profile/<%=blogv.username %>" class="font-semibold text-gray-700 hover:underline">
            <%=blogv.username %>
          </a>
          <!-- <span class="mx-1 text-xs text-gray-600">date haku</span> -->
        </div>
      </div>
      
      <p class="mt-1 text-xs text-gray-600"></p>
    </div>
    <div class="w-full h-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

      <!--Title illi-->
      <!-- <div class="font-sans">
        
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Post title haku</h1>
           
      </div> -->
      
      <p class="py-6"> <%= blogv.blogMessage %> </p>
    </div>
    
      <div class="flex mx-auto items-center  border-blue-400 justify-center shadow-lg mt-56 mb-4 max-w-lg">
        <form class="w-full max-w-xl  bg-white rounded-lg px-4 pt-2" method="post" action="/comment/<%=blogv.id%>">
           <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-2 mt-2">
                 <input name="comment" class="bg-gray-100 rounded border border-blue-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment here' required>
              </div>
              <div class="w-full md:w-full flex items-stretch  px-3">
                 <div class="-mr-1">
                   <a href="/"> <button type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-purple-400 rounded-lg tracking-wide mr-1 hover:text-white hover:border-blue-700 hover:bg-purple-500">Comment</button></a>
                 </div>
              </div>
           </form>
        </div>
      </div>
      <h3> comments</h3>
      <div class=" w-full h-fit flex flex-col">
        <div class="flex flex-row ml-10 py-2 ">
          <img
          class="object-cover h-10 rounded-full ml-2"
          src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg"
          alt="user_image"
        />
        <div class="mt-2 mx-2  ">
          <a href="/profile/<%=blogv.username %>" class="font-semibold text-gray-700 hover:underline">
            <%=blogv.username %>
          </a>
          <!-- <span class="mx-1 text-xs text-gray-600">date haku</span> -->
        </div>
         
        </div>
        <p class="mx-12 mb-4 ">nsajklfhsajkfhjsaghdjkash dljshadjl asljdjkas hdjkasjk dhasjkd jaskdn l</p>
      </div>
      <hr class="border border-t-2xl ">
</div>
</div>
</div> 

</div>
</body> 

<footer class=" mt-auto staitc bottom-0 w-full">
  <div class="px-10 py-8 bg-slate-100 ">
      <p class="text-gray-400 text-center">By Nishanth and Mehul &copy;copyright reserved 2023 </p>
  </div>
</footer>
</html>
