<%- include('./boilerplate/header.ejs') %> 
<body class=" bg-gradient-to-l from-sky-400 to-purple-600 flex flex-col min-h-screen mt-16">
  <%- include('./boilerplate/navbar.ejs') %> 
<!-- 
<div class="py-6">
    <h1 class="text-4xl text-blue-700 px-16  italic underline underline-offset-4">Recent posts</h1>
    <div class="px-16">
        <hr class="border-x-2 border-blue-300 px-7">
    </div>
    
</div> -->


<!-- section side  -->



<section class="flex flex-row flex-wrap justify-center px-24  ">
    <!-- Card start -->
    <% for( let index = 0; index < blogs.length; index++ ) { %>
      <div class="transition-all duration-150  w-96 h-96 px-3  py-6 md:w-1/2 lg:w-1/3 ">
        <div class="flex flex-col items-stretch min-h-full pt-2 pb-4 mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl">
          
          
          
          
          <div class="px-5 py-2 mt-2 ">
            <div class="flex items-center justify-between">
              <div class="flex items-center flex-1">
                <img
                  class="object-cover h-10 rounded-full"
                  src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg"
                  alt="user_image"
                />
                <div class="flex flex-col mx-2  ">
                  <a href="profile/<%= blogs[index].username %> " class="font-semibold text-gray-700 hover:underline">
                    <%= blogs[index].username %> 
                  </a>
                  <span class="mx-1 text-xs text-gray-600">date haku</span>
                </div>
              </div>
              <p class="mt-1 text-xs text-gray-600">time read ago</p>
            </div>
            <p class="flex flex-row flex-wrap w-full px-4 py-6 overflow-hidden text-sm text-justify text-gray-700">
              <%= blogs[index].blogMessage %> 
            </p>
            <div class=" ">
              <div class=" inset-y-0 bottom-0 left-0 right-0  justify-center items-end">
                <form class="flex justify-center my-2" action="./index/<%= blogs[index].id%>" method="">
                  <button type="submit" class="inline-block px-6 py-2.5 bg-teal-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-400 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">comment</button>
                </form>
              </div>
            </div>
            </div>
        </div>
      </div>
      
      <% } %>
     
</section>
<!-- this is the post form -->


<div class="px-8 py-2 ">
  <form action="/post/blog" method="post">
    <div class="bg-white p-4 rounded-lg shadow-md px-4">
      <div class="text-gray-700 font-medium text-lg mb-4 flex justify-center "><h1 class="text-3xl" > Write your post here!!</h1></div>
      <input placeholder="write your content!! "name="message" type="text" class="block w-full py-8 px-4 rounded-md bg-white border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      <div class="flex justify-center py-2">
        <button type="submit" class=" inline-block px-6 py-2.5 bg-teal-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-400 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Post
        </button>
      </div>
      </div>
    
  </form>
</div>

 



<footer class="mt-auto">
    <div class="px-10 py-8 bg-slate-100 ">
        <p class="text-gray-400 text-center">By Nishanth and Mehul &copy;copyright reserved 2023 </p>
    </div>
</footer>

</body>
</html>
